body {
    font-family: 'Raleway';
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#content {
    display: block;
    padding: 3% 5%;
}

#content div {
    /* display: inline-block; */
    padding: 20px;
}

#projects {
    margin-top: 2em;
}
