h1 {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 700;
}

body {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding: 2em;
}

a {
    text-decoration: none;
    color: gray;
}

div {
    margin-bottom: 5em;
}

#this {
    color: #00539B;
}