body {
    font-family: 'Times New Roman';
    color: white;
    padding: 2em;
    background-image: url('../img/me.PNG');
}

.container {
    margin: 6em;
    width: 40%;
}

.header, .subheader {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: bold;
    font-size: 2em;
    color: #f0f;
    text-shadow: 4px 4px #0f8;
}

.subheader {
    font-size: 1.2em;
    border: 2px dashed salmon;
    display: inline-block;
    padding: 1em;
}

.item {
    margin-top: 2em;
}

.desc {
    font-family: cursive;
    text-shadow: 1px 1px black;
}

a {
    font-family: 'Times New Roman';
}

a:hover {
    color: rgb(255, 237, 79);
    background-color: rgb(0, 255, 221);
}

marquee {
    font-size: 2em;
}

.email {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(to left, #fff, #0bf);
    display: inline-block;
    margin: 5em 10em;
    color: black;
}

.github {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to right, #fff, #0f0);
    display: inline-block;
    margin-left: 30em;
    color: black;
}

.publications {
    text-align: right;
    position: fixed;
    right: 5em;
    top: 15em;
}

.footer {
    position: fixed;
    left: 50%;
    bottom: 5em;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

#duke {
    width: 100px;
}

#github {
    width: 100px;
}

/* ALGORITHMS */
.algo {
    margin: 2em;
}

.algo div {
    margin-left: 2em;
}

.algo div:first-child {
    margin: auto;
    font-weight: bold;
}