body {
    font-family: 'Times New Roman';
    padding: 2em;
}

.container {
    margin: 6em;
    width: 40%;
}

.header {
    font-weight: bold;
    font-size: 1.7em;
}

.item {
    margin-top: 2em;
}